global:
  scrape_interval: 15s

scrape_configs:
  - job_name: prometheus
    scrape_interval: 30s
    static_configs:
    - targets: ['{{ host_ip }}:9090']

  - job_name: node-exporter
    scrape_interval: 30s
    static_configs:
    - targets: ['{{ host_ip }}:9100']

  - job_name: flask_exporter
    metrics_path: /metrics
    static_configs:
    - targets:
      - kbu-k3s.lastops.ru
